* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow-x: hidde;
}
html, body{
    height: 100%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
ul li{
    display: inline-block;
    margin: 20px;
    color: white;
    font-size: 26px;
    margin: 28px 24px;
}

ul li:hover{
    opacity: 50%;
}

nav{
    position: fixed;
    height: 90px;
    width: 720px;
    border-radius: 0 0 40px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    background: black;
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
   }
    100% {
        transform:translateX(25%);
   }
}
.pagina {
    position: relative;
    height: 100%;
    width: 100%;
}
/*---------------P1-----------------*/
.p1 {
    height: s000px;
}

.p1 .fons {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #cbe3e9 50%, #56828C 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.p1 .fons2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
.p1 .fons3 {
    animation-duration:5s;
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
   }
    100% {
        transform:translateX(25%);
   }
}
.p1 h1 {
    padding-top: 100px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 140px;
    color: #ffffff;
}
.p1 h3 {
    width: 1000px;
    padding-top: 100px;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #ffffff;
}
/*---------------P2-----------------*/
.p2 h1 {
    text-align: center;
    position: absolute;
    display: block;
    font-size: 65px;
    color: white;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%);
}

.p2 {
    background: #6B929B;
    height: 1600px;
    width: 100%;
}

.treballs{
    height: 1480px;
    width: 1600px;
    margin: 0 auto;
    padding-top: 120px;
}

h2{
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    color: white;
}

.activitat{
    display: block;
    width: 500px;
    height: 305px;
    border-radius: 20px;
    float: left;
    text-align: center;
    line-height: 225px;
    color: #ffffff;
    font-size: 30px;
    margin: 30px 120px;
}

.activitat:hover{
    animation: 0.5s 0s rebotar linear 1;
    opacity: 75%;
}

@keyframes rebotar {
    0%{
        transform: translateY(0px) translateX(0px);
   }
    50%{
        transform: translateY(17px) translateX(0px);
   }
    100%{
        transform: translateY(0px) translateX(0px);
   }
}

/*----------*/
.Imatge{
    background-repeat: no-repeat;
    -webkit-filter:grayscale(100%);
    display: block;
    width: 500px;
    height: 225px;
    border-radius: 20px;
    float: left;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.607);
}

.Calendari {
    background-image: url(../img/Calendari.jpg);
    background-position: -40px -100px;
    background-size: 120%;
}

.Feedly{
    background-image: url(../img/Feedly.jpg);
    background-position: -10px -75px;
    background-size: 110%;
}

.Flotacions{
    background-image: url(../img/Flotacions.jpg);
    background-position: -10px -60px;
    background-size: 120%;
}

.Escacs{
    background-image: url(../img/Escacs.jpg);
    background-position: -10px -140px;
    background-size: 105%;
}

.Watchmen{
    background-image: url(../img/Watchmen.jpeg);
    background-position: -10px -50px;
    background-size: 105%;
}

.Ifpagram{
    background-image: url(../img/Ifpagram.jpg);
    background-position: -10px -35px;
    background-size: 105%;
}

.Floreta{
    background-image: url(../img/Floreta.jpg);
    background-position: -10px -100px;
    background-size: 105%;
}

.Careta{
    background-image: url(../img/Careta.jpg);
    background-position: -10px -10px;
    background-size: 105%;
}

/*---------------P3-----------------*/

.p3 {
    background: white;
    background-size: 400% 400%;
    height: 100vh;
}

.ImatgeContacte{
    width: 100%;
    height: 100vh;
    float: left;
    background-image: url(../img/Ordinador.jpg);
    background-repeat: no-repeat;
    z-index: -10;
    background-position: fixed;
    background-size: 140%;
}

.Informacio {
    margin-top: 150px;
    margin-left: -1200px;
    width: 1200px;
    height: 725px;
    background-color: #6B929B;
    float: right;
    border-radius: 40px 0px 0px 40px;
}

.p3 h1{
    font-size: 65px;
    color: white;
    padding-top: 85px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.Icona {
    width: 580px;
    height: 90px;
    padding-left: 100px;
}

.p3 h3{
    font-size: 30px;
    color: white;
    padding-top: 20px;
}

.Icona svg{
    height: 70px;
    float: left;
    padding-right: 20px;
}

.sensestil {
    background-color: transparent;
}

.sensestil:link {
    background-color: transparent;
}

.tornar{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 60px;
    position: fixed;
    left: 40px;
    bottom: 40px;
}

.tornar svg{
    width: 40px;
    height: 40px;
}

/*--------------MEDIA SCREEN----------------*/

@media screen and (max-width: 1500px) {
    .p2 {
        height: 3050px;
        width: 100%;
   }
    .activitat {
        clear: both;
        margin-left: 50%;
        transform: translate(-50%);
   }

   .treballs {
    width: 100%;
    height: 2930px;
   }

   @keyframes rebotar {
    0%{
        transform: translateY(0px);
   }
    50%{
        transform: translateY(17px);
   }
    100%{
        transform: translateY(0px);
   }
}

}

@media screen and (max-width: 1165px) {
    .p1 h1 {
        font-size: 100px;
        width: 100%;
        top: 40%;
        left: 50%;
    }
    .p1 h3 {
        font-size: 20px;
        width: 650px;
        top: 52%;
        left: 50%;
    }
    nav {
        width: 540px;
        border-radius: 0px;
        height: 60px;
        padding: 10px 0px;
        border-radius: 0 0 40px 0;
    }
    ul li {
        margin: 18px 10px;
        font-size: 20px;
    }
    ul {
        padding: 2px 0px 0px 20px;
    }

    .p2 {
        height: 2635px;
        width: 100%;
    }

    .treballs {
        width: 100%;
        height: 2514px;
    }

    .activitat{
        display: block;
        width: 400px;
        height: 205px;
        border-radius: 20px;
        float: left;
        text-align: center;
        line-height: 225px;
        color: #ffffff;
        font-size: 20px;
        margin: 50px 0px;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .Imatge{
        background-repeat: no-repeat;
        -webkit-filter:grayscale(100%);
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 17px;
        clear: both;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.607);
    }

    .p3 {
        height: 700px;
        width: 100%;
        clear: both;
    }
    
    .ImatgeContacte {
        width: 120%;
        height: 700px;
    }

    .Informacio{
        position: relative;
        height: 465px;
        width: 700px;
        clear: both;
        margin: 0px;
        top: -570px;
        background-color: #6B929B;
    }
    
    .p3 h1{
        font-size: 35px;
        color: white;
        padding-top: 50px;
        padding-left: 100px;
        padding-bottom: 32px;
   }
    .Icona {
        width: 490px;
        height: 66px;
        padding-left: 100px;
   }
    .p3 h3{
        font-size: 24px;
        color: white;
        padding-top: 4px;
   }
    .Icona svg{
        width: 50px;
        height: 40px;
        float: left;
        padding-right: 20px;
   }
}

@media screen and (max-width: 800px) {
    .p3 {
        height: 915px;
        width: 100%;
        clear: both;
    }

    .Informacio{
        position: relative;
        top: 0px;
        height: 465px;
        width: 100%;
        clear: both;
        border-radius: 0px;
        background-color: #6B929B;
    }


    .ImatgeContacte {
        clear: both;
        width: 100%;
        height: 450px;
        margin: 0px;
    }
    
    .p1 h1 {
        font-size: 60px;
        width: 100%;
        top: 40%;
        left: 50%;
   }

    .p1 h3 {
        font-size: 15px;
        width: 420px;
        top: 50%;
        left: 50%;
   }

    ul li {
        margin: 18px 10px;
        font-size: 20px;
   }

    ul {
        padding: 2px 0px 0px 20px;
   }

   .treballs {
    width: 100%;
    height: 2610px;
}

   .activitat {
    margin-left: 50%;
    transform: translate(-50%);
   }

    .p2 {
        height: 2730px;
        width: 100%;
    }

    .p3 h1{
        font-size: 35px;
        color: white;
        padding-top: 50px;
        padding-left: 100px;
        padding-bottom: 32px;
    }
    .Icona {
        width: 490px;
        height: 66px;
        padding-left: 100px;
    }
    .p3 h3{
        font-size: 24px;
        color: white;
        padding-top: 4px;
    }
    .Icona svg{
        width: 50px;
        height: 40px;
        float: left;
        padding-right: 20px;
    }
}

@media screen and (max-width: 580px) {
    .Informacio{
        position: relative;
        height: 465px;
        width: 100%;
        clear: both;
        border-radius: 0px;
        background-color: #56828C;
    }

    .treballs{
        width: 100%s;
    }
    
    .p3 h1{
        font-size: 25px;
        color: white;
        padding-top: 50px;
        padding-left: 70px;
        padding-bottom: 32px;
    }
    .Icona {
        width: 400px;
        height: 66px;
        padding-left: 70px;
    }
    .p3 h3{
        font-size: 19px;
        color: white;
        padding-top: 9px;
    }
    .Icona svg{
        width: 50px;
        height: 40px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 480px) {

    .pagina {
        width: 100%;
    }

    nav {
        width: auto;
        height: 60px;
        border-radius: 0px;
        padding: 0px 0px;
   }

    ul li {
        margin: 18px 6px;
        font-size: 13.3px;
   }

    ul {
        padding: 4px 30px 0px 30px;
   }

    .p1 h1 {
        font-size: 47px;
        text-align: center;
        top: 47%;
        color: white;
   }

    .p1 {
        height: 800px;
        width: auto;
   }

    .p1 h3 {
        width: 340px;
        font-size: 11px;
        padding-top: 0px;
        top: 61%;
   }

    .p2 {
        height: 1960px;
   }

    .treballs {
        width: 100%;
        height: 1885px;
        padding-top: 75px;
   }

    .p2 h1 {
        font-size: 48px;
   }

   .p1 h1{
        font-size: 44px;
   }

   h2{
        text-align: center;
        line-height: 80px;
        font-size: 30px;
        color: white;
    }

   .activitat{
        clear: both;
        transform: translate(-50%);
        display: block;
        width: 250px;
        height: 130px;
        border-radius: 20px;
        float: left;
        text-align: center;
        line-height: 225px;
        color: #ffffff;
        font-size: 10px;
        margin: 50px 0px;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .Calendari {
        background-size: 100%;
    }

    .Imatge{
        background-repeat: no-repeat;
        background-position: 0px -10px;
        -webkit-filter:grayscale(100%);
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 17px;
        clear: both;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.607);
    }

    .p3{
        height: 730px;
    }

    .p3 h1 {
        padding-left: 25px;         
    }

    .Icona{
        width: 350px;
       padding-left: 25px; 
    }

    .Informacio{
        margin: 0px;
        height: 430px;
    }

    .ImatgeContacte{
        height: 300px;
    }
}
